.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(50px);
    height: fit-content;
    top: 0;
    padding-top: 50px;
}
.authSignBox, .accCreate{
    margin-top: 180px;
    background: var(--baseColor);
    height: fit-content;
    width: 400px;
    padding: 30px 50px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin: 30vh 0 50px;
}
.signup .authSignBox{
    margin: 15vh 0 50px;
}
.signIn{
    margin-top: 80px;

}
.authSignBox h1, .accWrap h1{
    font-size: 2rem;
}
.authSignBox p{
    font-weight: 600;
    font-size: .8rem;
    padding: 18px 0 25px;
}
.authSignBox p{
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 0 25px;
}
.authSignBox .authSecP{
    font-size: .8rem;
}
.authSignBox .authSecP a{
    font-size: .8rem;
}

.authIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.authIn input{
    margin-bottom: 20px;
    width: 100%;
}

.authIn input[type="password"]{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.authIn input[type="password"]::placeholder{
    
    font-family:subFont;
}


.accWrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (max-width: 600px) {
    .auth{
        background: white;
    }
}