@font-face {
    font-family: subFont;
    src: url(../fonts/Mali-Regular.ttf);
}
@font-face {
    font-family: mainFont;
    src: url("../fonts/vont.otf");
}
*{
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    font-family: inherit;
}
:root{
    /* color */
    --baseColor : white;
    --primaryColor: #FF1C1C;
    --altColor: black;
    --main-ButtonColor: #FF5D39;

    /* spacing */
    --spacing-side:0 100px;

    min-width: 100vw;
    overflow-x: hidden;
    font-family: subFont;
}



a{
    font-size: 18px;
    font-weight: 800;
    color: black;
    text-decoration: none;
}
img{
    width: 100%;
}
h1{
    font-size: 3.4rem;
    font-family: mainFont;
}
p{
    font-size: 18px;
    max-width: 450px;
}
input{
    text-align: center;
    width:200px;
    padding: 15px 0;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    background: rgba(128, 128, 128, 0.192);
    font-family: subFont;
    font-weight: 800;
}


.admin{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.admin h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media screen and (max-width: 600px) {

    h1{
        font-size: 2rem;
        font-family: mainFont;
    }
    p {
        font-size: 18px;
        max-width: 310px;
    }
    :root{
        --spacing-side:0 30px;
    
    }
}