.pricing{
    padding: var(--spacing-side);
    margin-top: 25vh;
    padding-bottom: 100px;
}
.pricing h1{
    color: white;
}
.priceListWrap {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding-top: 20px;
}
.p-card{
    background: white;
    padding: 40px;
    border-radius: 20px;
    max-width: 350px;
    min-height: 350px;
    border: rgba(128, 128, 128, 0.247) 2px solid;
}
.p-image{
    height: 70px;
    width: 70px;
    border-radius: 10px;
    background: black;
    color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-image svg{
    font-size: 30px;
}
.pricingTop:nth-child(2) svg{
    font-size: 40px;
}
.p-cardTitle{
    padding: 20px 0 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}
.p-cardPargh{
    font-weight: 900;
    opacity: .8;
    font-size: 1rem;
}
.p-price{

    display: flex;
    flex-direction: column;
gap: 10px;
    justify-content: space-between;
    align-items: left;
    padding-top: 40px;
}
.price{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}
.pricingTop{
    padding-bottom: 80px;
}
.p-price button{
    background: black;
    font-size: 1rem;
    border-radius: 10px;
}

.p-badges{
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.badge-info{
    height: 100%;
    width: fit-content;
    padding: 3px 20px 5px;
    background: var(--main-ButtonColor);
    color: white;
    border-radius: 100px;
}
.badge-info p{
    font-size: .9rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-info p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    opacity: .8;
}
.p-info p:nth-child(2){
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:900;
    opacity: 1;
}
.p-card-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.paymentPopUp{
    display: flex;
    justify-content: center;
    color: black;
}
.paymentWrap{
    padding: 60px;
    max-width: 800px;
    background: white;
    border-radius: 20px;
}

.infoSection{
    padding-bottom: 40px;
}
.productIcon{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background: gray;
}
.payInfo{
    display: flex;
    justify-content: space-between;
}

.infoForm{
    padding: 30px 50px;
}
.infoSection .payTitle{
    padding: 20px 0 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: black;
}
.PayInputWrap{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    flex-wrap: wrap;
}
.PayInputWrap input{
    width: 280px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    padding: 10px 30px;
    font-weight: 500;
    border: 2px solid rgba(128, 128, 128, 0.159);
    height: 50px;
    border-radius: 10px;
}


.payaction- button{
    background: black;
    font-size: 1rem;
    border-radius: 10px;
}
.payTotal{
    text-align: left;
}
.payTotal p{
    padding-top: 50px;
    font-weight:600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.payTotal h1{

    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.payaction-{
    gap: 15px;
}
.paySecButton{
    display: flex;
    gap: 20px;
}
.payTotal h1{
    font-size: 3rem;
}
.p-book{
    display:flex;
    gap: 10px;
}

@media screen and (max-width: 600px){
    .priceListWrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;
        padding-top: 20px;
    }
    .p-card {
        background: white;
        padding: 30px;
        border-radius: 20px;
        max-width: 350px;
        min-height: 350px;
        border: rgba(128, 128, 128, 0.247) 2px solid;
    }
}