.dashboardStu {
    display: grid;
    grid-template-areas:
        "aaa aaa aaa bbb"
        "ccc ccc ccc bbb"
        "ccc ccc ccc bbb";
    padding: var(--spacing-side);
    gap: 15px;
    margin: 25vh 0 10vh;
}

.profile {
    height: 100%;
    width: 800px;
    background: var(--baseColor);
    grid-area: aaa;
    border-radius: 30px;
    display: flex;
    align-items: initial;
    justify-content: space-between;
    padding: 0 50px 0;
}

.stats {
    height: 100%;
    width: 100%;
    background: var(--baseColor);
    grid-area: ddd;
    border-radius: 30px;
    padding: 50px;
    width: 100%;
}

.lesson {
    height: 100%;
    width: 100%;
    background: var(--baseColor);
    grid-area: ccc;
    border-radius: 30px;
    padding: 50px;
}

.getTutor {
    height: 100%;
    width: 350px;
    background: var(--baseColor);
    grid-area: bbb;
    border-radius: 30px;
    padding: 50px;
}


.stats h2,
.lesson h2 {
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 900;
}

.lessonsStat {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.lessBox {
    display: flex;
    flex-direction: column-reverse;
}

.lessBox h3 {
    font-family: mainFont;
    font-size: 2rem;
    opacity: 0.8;
}

.lessBox .lessPargh {
    font-weight: 900;
    font-size: 1rem;
}

.statsPofile{
    display: flex;
    gap: 20px;
}

.getTutor h1 {
    font-size: 2.4rem;
}

.getTutor p {
    font-size: 1.1rem;
    font-weight: 900;
    padding: 20px 0 30px;
}


.profileWrap {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profileBox {
    height: 120px;
    width: 120px;
    background: var(--primaryColor);
    border-radius: 1001px;
}

.profileInfo h1 {
    font-size: 2rem;
}

.profileInfo p {
    font-weight: 900;
    font-size: 1.2rem;
}


.nextLessWrap h1 {
    font-size: 2rem;
}

.nextLessWrap p {
    font-size: 1.1rem;
    font-weight: 900;
    padding: 20px 0 30px;
}

.profileBox {
    overflow: hidden
}

.imggetTutor {
    height: 400px;
    width: 100%;
    position: relative;
}

.getTutor {
    overflow: hidden;
}

.imggetTutor img {
    position: absolute;
    width: 500px;
    left: -80px;
}

.dashInfo {
    background: var(--primaryColor);
    width: fit-content;
    border-radius: 100px;
    margin-top: 10px;
}

.dashInfo p {
    color: white;
    font-weight: 600;
    font-size: .9rem;
    padding: 5px 10px;
}

.trialBox {
    height: 100vh;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trialBox-mail {
    background: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 40px;
    border-radius: 20px;
}

.trialBox h1 {
    font-size: 3rem;
}

.trialBox-mail p {
    text-align: center;
}

.trialGroup {
    display: flex;
    gap: 15px;
}


@media screen and (max-width: 600px) {

    .dashboardStu {
        display: flex;
        flex-direction: column;
    }

    .getTutor {
        width: initial;
    }

    .profileBox {
        height: 50px;
        width: 50px;
    }

    .profileWrap {
        display: flex;
        flex-direction: column;
        align-items: initial;

        gap: 10px;
    }

    .profile {
        width: initial;
    }

    .profileInfo h1 {
        font-size: 1.5rem;
    }

    .getTutor,
    .profile,
    .stats,
    .lesson {
        padding: 40px 30px;
    }

    .profile {
        padding: 40px 20px;
    }

    .trialGroup {
        flex-direction: column;
    }
    .trialBox-mail {
        border-radius: 0px;
        margin-top: 80px 
    }
    .trialBox h1 {
        text-align: center;
    }
    .statsPofile{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}