.dashboardStu{
    display: grid;
    grid-template-areas: 
    "aaa aaa aaa bbb"
    "ddd ddd ddd bbb"
    "ccc ccc ccc bbb";
    padding: var(--spacing-side);
    gap: 15px;
    margin: 25vh 0 10vh;
}
.profile{
    height: 220px;
    width:800px;
    background: var(--baseColor);
    grid-area: aaa;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0;
}
.stats{
    height: 100%;
    width: 100%;
    background: var(--baseColor);
    grid-area: ddd;
    border-radius: 30px;
    padding: 50px;
    width: 100%;
}
.lesson{
    height: 100%;
    width: 100%;
    background: var(--baseColor);
    grid-area: ccc;
    border-radius: 30px;
    padding: 50px;
}
.getTutor{
    height: 100%;
    width: 350px;
    background: var(--baseColor);
    grid-area: bbb;
    border-radius: 30px;
    padding: 50px;
}


.stats h2, .lesson h2{
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 900;
}
.lessonsStat{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.lessBox{
    text-align: center;
}
.lessBox h3{
    font-family: mainFont;
    font-size: 2rem;
}
.lessBox p{
    font-weight: 900;
    font-size: 1.1rem;
}


.getTutor h1{
    font-size: 2.4rem;
}
.getTutor p{
    font-size: 1.1rem;
    font-weight: 900;
    padding: 20px 0 30px;
}


.profileWrap{
    display: flex;
    align-items: center;
    gap: 30px;
}
.profileBox{
    height: 120px;
    width: 120px;
    background: var(--primaryColor);
    border-radius: 1001px;
}
.profileInfo h1{
    font-size: 2rem;
}
.profileInfo p{
    font-weight: 900;
    font-size: 1.2rem;
}


.nextLessWrap h1{
    font-size: 2rem;
}
.nextLessWrap p{
    font-size: 1.1rem;
    font-weight: 900;
    padding: 20px 0 30px;
}