.topicWrap{
    display: flex;
    padding: 0 60px;
    padding-top: 26vh;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 22px;
    padding-bottom: 100px;
}

.topicBox{
    padding: 25px 30px;
    background: white;
    border-radius: 10px;
    height: 260px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-topic{
    font-size: 2rem;
    font-size: 1.8rem;

}
.level-topic{
    font-size: 1.2rem;
    font-family: mainFont;
    opacity: .5;
}
.pah-topic{
    font-weight: 900;
}