.topicWrap{
    display: flex;
    padding: 0 60px;
    padding-top: 18vh;
}
.moveBttns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.topicArea{
    height: 80vh;
    flex: 1;
    padding: 80px;
    color: var(--baseColor);
}

.topicInfo h2{
    font-size: 1.6rem;
    font-family: mainFont;
    opacity: 0.5;
}
.topicInfo h1{
    width: 500px;
}
.topicInfo p{
    font-size: 1rem;
    font-weight: 900;
    width: 300px;
    padding: 20px 0 30px;
}

.topicMove_bttn{
    height: 50px;
    width: 50px;
    border-radius: 1000px;
    background: var(--main-ButtonColor);
}
.disabled{
    display: none;
}
.topic-bttnWrap{
    display: flex;
    gap: 40px;
}