.topicWrap{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 12px;
    padding: var(--spacing-side);
    padding-top: 26vh;
    padding-bottom: 100px;
}

.topicBox{
    padding: 25px 30px 40px;
    background: white;
    border-radius: 10px;
    height: fit-content;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-topic{
    font-size: 2rem;
    font-size: 1.8rem;

}
.level-topic{
    font-size: 1.2rem;
    font-family: mainFont;
    opacity: .5;
}
.pah-topic{
    font-weight: 900;
}
.card-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-info-top h2:nth-child(2){
    font-size: 1rem;
}
.card-info-top h2:nth-child(1){
    font-size:1.5rem;
}

@media screen and (max-width: 600px) {
    .topicWrap {
        padding: 25vh 20px 100px;
    }
    .pah-topic {
        font-weight: 900;
        padding-top: 10px;
    }
}