button{
    font-size: 17px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
    background: var(--main-ButtonColor);
    color: var(--baseColor);
    font-family: subFont;
}
.adminBttn{
    background: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0;
    font-size: 15px;
}

.mainBttnWrap{
    padding: 5px;
    background: white;
    width: fit-content;
    border-radius: 100px;
}
.bttnSubWrap{
    background: #ff361b;
    padding-bottom: 4px;
    border-radius: 1000px;
    width: 100%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.375);
}
.bttnMain{
    width: 100%;
}